<footer class="footer">
    <div class="footer-container">
       
        <div class="footer-brand">
            <a href="{% url 'analyzer:home' %}">City<span>Now</span></a>
            <p>Connecting communities and people seamlessly.</p>
        </div>

        <div class="footer-links">
            <div class="link-group">
                <h4>Company</h4>
                <ul>
                    <li><a href="{% url 'analyzer:about' %}">About Us</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="link-group">
                <h4>Support</h4>
                <ul>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>
            </div>
            <div class="link-group">
                <h4>Social</h4>
                <ul>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">LinkedIn</a></li>
                    <li><a href="#">Facebook</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2026 CityNow. All rights reserved.</p>
    </div>
</footer>
