{% extends 'base/base.html' %}
{% load static  %}
{% block title %}Home - CityNow {% endblock %}
 {% block meta %}
 
 
 {% endblock %}
    {% block style %}
    <link rel="stylesheet" href="{% static 'css/pages/report.css' %}">
    {% endblock %}
{% block content %}
  <div id="report_page">
    <h1>City Report</h1>
    <p>This is a comprehensive report about the city, detailing its advantages, disadvantages, and common challenges faced by residents and visitors alike.</p>
    <!-- Additional report content goes here -->
  </div>
{% endblock %}
{% block scripts %}

{% endblock %}